{% from "../components/list.njk" import listItem %}

<!doctype html>
<html lang="en" 
    domain="{{ metadata.domain }}" 
    ga-id="{{ googleanalytics }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">
    {% if isdevelopment %}
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
      <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#4F46E5">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">

    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="preconnect" href="/" crossorigin>
    
    <link rel="stylesheet" href="{{ "/css/main.css" | addHash }}"/>

    <script async defer src="{{ "/js/min.js" | addHash }}"></script>
    {% if googleanalytics %}
      <script csp-hash>
  (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
  h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
  l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
  r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
  n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
  A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
  sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
  void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
  (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
  sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
  a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
  ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
  !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
  y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
  d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
  a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
  trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
  (window,"{{ googleanalytics }}",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
</script>
    {% endif %}
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>
      if (/Mac OS X/.test(navigator.userAgent)) 
        document
          .documentElement
          .classList
          .add('apple')
    </script>
  </head>
<body>
    <header>
        <nav></nav>
        <dialog id="message"></dialog>
    </header>
    <div class="relative bg-white overflow-hidden">
        <div class="max-w-screen-xl mx-auto">
            <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 100,0 50,100 0,100"/>
                </svg>
                <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                    <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
                        <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                            <div class="flex items-center justify-between w-full md:w-auto">
                                <a class="flex flex-row items-center" href="#" aria-label="Home">
                                    <img class="h-8 w-auto sm:h-10" data-skip="true" src="./img/logo-icon.jpg" alt="Logo">
                                    <span class="text-2xl md:text-4xl font-extrabold text-indigo-600 pl-3">Pacific</span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>

                <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="sm:text-center lg:text-left">
                        <h1 class="mt-0">
                            <span>Design,</span>
                            <br>
                            <span>Build,</span>
                            <br>
                            <span class="bg-gradient-to-tr from-purple-400 via-pink-400 to-red-400 bg-clip-text text-fill-transparent">Compose.</span>
                        </h1>
                        <p class="mt-3 text-lg text-black sm:mt-5 sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                            Facilitate collaboration and communication across the intersection of design and engineering. Pacific is a low-code app builder to allow product teams, marketing, and stakeholders fastly experiment. 
                        </p>

                        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                            <div class="mt-3 sm:mt-0">
                                <a href="https://pacific-dev.typeform.com/to/q47FlXO5" target="_blank" class="w-full cursor-fire flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:ring ring-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"
                                   id="beta-top">
               I want it!</a>
                            </div>
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                                <a href="#design" class="w-full cursor-raise flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:ring ring-indigo focus:border-indigo-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10 whitespace-nowrap"
                                    id="convince-top">
                Convince me</a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 p-5 lg:right-0 lg:w-1/2 pattern-bg flex items-center justify-center lg:justify-end">
            <div class="w-4/5">
                <img class="w-full object-contain" data-skip="true" src="./img/header.png" alt="Screenshot of visual UI composer">
            </div>
        </div>
    </div>

    <div class="relative overflow-hidden max-w-screen-xl mx-auto" id="design">
        <div class="bg-white text-black px-4 sm:px-8 lg:px-16 py-12 md:py-16 lg:py-24">
            <h1 class="text-black mb-0">Design</h1>
            <div class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                <div>
                    <div>
                        <h2 class="mt-3 md:mt-0 tracking-tight text-xl md:text-3xl">You own your design system.</h2>
                    </div>
                    <ul class="list-unstyled">
                        {{ listItem("Import Design Tokens and Variants from Figma", "text-black") }}
                        {{ listItem("Sync to keep updated UI with your new creative ideas", "text-black") }}
                        {{ listItem("Export theme configuration and use it directly in code", "text-black") }}
                    </ul>
                </div>
                <div class="md:pt-0 pt-8">
                    <img class="w-full object-contain" src="./img/workshop.svg" alt="Design System manager abstract image">
                </div>
            </div>
        </div>

    </div>

    <div class="relative overflow-hidden max-w-screen-xl mx-auto">
        <div class="bg-black text-white px-4 sm:px-8 lg:px-16 py-12 md:py-16 lg:py-24">
            <h1 class="text-white mb-0">Build</h1>
            <div class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                <div>
                    <h2 class="mt-3 md:mt-0 tracking-tight text-xl md:text-3xl text-white">The code lives in your beloved IDE</h2>

                    <ul class="list-unstyled">
                        {{ listItem("Export pure and state-less UI components", "text-white") }}
                        {{ listItem("Code custom advanced interactions", "text-white")}}
                        {{ listItem("Focus on arhitecture, delegate the UI", "text-white")}}
                        {{ listItem("Works with any ReactNative environment", "text-white")}}
                    </ul>
                </div>
                <div class="md:pt-0 pt-8">
                    <img class="w-full object-contain" src="./img/build.svg" alt="Code editor abstract image">
                </div>
            </div>
        </div>
    </div>

    <div class="relative overflow-hidden max-w-screen-xl mx-auto">
        <div class="bg-gradient-to-tr from-purple-100 via-pink-100 to-red-100 px-4 sm:px-8 lg:px-16 py-12 md:py-16 lg:py-24">
            <h1 class="text-black mb-0">Compose</h1>

            <div class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                <div>
                    <h2 class="mt-3 md:mt-0 tracking-tight text-xl md:text-3xl">Effortlessly connect your design with logical modules</h2>

                    <ul class="list-unstyled">
                        {{ listItem("Allow product team do changes without going trough whole design-code pipeline.", "text-black") }}
                        {{ listItem("Visually manage your business flows, easily experiment, and explore in our visual editor.", "text-black")}}
                        {{ listItem("Ship your ideas without writing a single line of code.", "text-black")}}
                    </ul>
                </div>
                <div class="md:pt-0 pt-8">
                    <img class="w-full object-contain" src="./img/compose.svg" alt="Visual Composet abstract image">
                </div>
            </div>

        </div>
    </div>

    <div class="relative overflow-hidden max-w-screen-xl mx-auto">
        <div class="bg-black text-white px-4 sm:px-8 lg:px-16 py-12 md:py-16 lg:py-24">
            <h1 class="text-white mb-0">Pacific</h1>
            <h2 class="mt-3 md:mt-0 tracking-tight text-xl md:text-3xl text-white">No bull-shift, only real code. We manage the communication and integration. You build production-ready apps, by connecting your dream team. </h2>
            <div class="py-8">
                <a class="flex items-center w-full border border-transparent duration-150 ease-in-out focus:outline-none focus:ring-indigo font-medium justify-center leading-6 md:px-10 md:py-4 md:text-lg px-8 py-3 text-base transition bg-indigo-600 cursor-fire focus:border-indigo-700 hover:bg-indigo-500 text-white" 
                    href="https://pacific-dev.typeform.com/to/q47FlXO5"
                    target="_blank"
                    id="beta-bottom">
          Request beta access
        </a>
            </div>

        </div>
    </div>
    <div class="relative overflow-hidden max-w-screen-xl mx-auto">
        <div class="bg-black text-white px-4 sm:px-8 lg:px-16 py-4">
            <span>© 2020 Pacific. All Right Reserved.</span>
        </div>
    </div>
    {% if googleanalytics %}
      <script csp-hash>
        var bt=document.getElementById("beta-top");
        bt.addEventListener("click",function(){ma.trackEvent('Landing', 'Hover', 'BetaAccess', 'Top')});
        bt.addEventListener("mouseover",function(){ma.trackEvent('Landing', 'Click', 'BetaAccess', 'Top')});
        
        var bb=document.getElementById("beta-bottom");
        bb.addEventListener("click",function(){ma.trackEvent('Landing', 'Hover', 'BetaAccess', 'Bottom')});
        bb.addEventListener("mouseover",function(){ma.trackEvent('Landing', 'Click', 'BetaAccess', 'Bottom')});

        var ct =document.getElementById("convince-top");
        ct.addEventListener("click",function(){ma.trackEvent('Landing', 'Hover', 'Convince', 'Top')});
        ct.addEventListener("mouseover",function(){ma.trackEvent('Landing', 'Click', 'Convince', 'Top')});
    </script>
    {% endif %}
</body>
</html>